{{ $page := . }}                       <!--save current page-->
{{ $section := $page.CurrentSection }} <!--save current section-->

{{ $page_toc_label := .Params.sidebar.text_contents_label | default "On this page" }}
<div class="sticky">
  {{ $headers := findRE "<h[2].*>" $page.Content }}
  {{- $has_headers := ge (len $headers) 1 -}}
  {{- if $has_headers -}}
  <div class="pl4 pr2 mh2">
    <div class="pl0 pr0 mh2">
      <h2 class="mv0 f5 fw7 ttu tracked dib">{{ $page_toc_label }}</h2>
    {{ $page.TableOfContents }}
    </div>
  </div>
  {{ end }}
</div>