{{ define "main" }}
{{ $page := . }}                       <!--save current page-->
<main class="page-main pa2" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 pl3-l">
      <!--<header class="post-header">
        <h1 class="f1 lh-solid measure-narrow mb3 fw4">{{ .Title }}</h1>
        {{ if .Params.subtitle }}<h4 class="f4 mt0 mb4 lh-title measure">{{ .Params.subtitle }}</h4>{{ end }}
        {{ if .Params.show_author_byline }}<p class="f6 measure lh-copy mv1">{{ if .Params.author }}By {{ .Params.author }}{{ end }}{{ with .Params.categories }} in{{ range . }} <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}</p>{{ end }}
        {{ if .Params.show_post_date }}<p class="f7 db mv0 ttu">{{ .PublishDate.Format "January 2, 2006" }}</p>{{ end }}
      </header> -->
      <section class="post-body pt5 pb4">
        {{ .Content }}
      </section>
      <footer class="post-footer">
        <!--{{ partial "shared/post-pagination.html" . }}-->
      </footer>
    </article>
    {{ if .Params.show_comments }}
      {{ partial "shared/comments.html" . }}
    {{ end }}
  </section>
</main>

<aside class="page-sidebar" role="complementary">
  {{ partial "shared/single-series-TOC-scaffold.html" . }}
  {{ partial "shared/single-series-TOC-sidebar.html" . }}
</aside>

{{ end }}
