$theme-darkblue: #01364C;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;
$theme-yellow-l: rgba($theme-yellow, .5);

$body-bg: $theme-darkblue;
$body-color: $theme-white;
$link-color: $theme-blue;


$text-muted: lighten($body-color, 70%);

$presentation-font-size-root: 40px;
$presentation-line-height: 1.35;
$presentation-title-slide-text-align: left;

/*-- scss:rules --*/





.backgrounds {
     -webkit-filter: blur(2px);
     -moz-filter: blur(2px);
     -o-filter: blur(2px);
     -ms-filter: blur(2px);
     filter: blur(3px);
 }

h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}
.MathJax{
    color: $theme-yellow !important;
}
mark {
  background-color: #99D9DD;
  color: black;
}